client = document.getElementById('title');
<% @client.each do |r| %>
  client.innerHTML = `<%= escape_javascript(r['CODICLIE']) %> - <%= escape_javascript(r['RAZOSOCI']) %>`;
<% end %>
message = document.getElementById('message');
<% if @records.length > 1 %>
  message.innerHTML = `
  <strong>Distribuidora Central de Alimentos Paraguaná C.A.</strong>, le recuerda que debe realizar el pago de las siguientes facturas:
</br></br>
<% @records.each do |r| %>
  <strong><%= escape_javascript(r['Numero'])%></strong> - Despachada día: <strong><%= escape_javascript(r['Fecha']) %></strong> - <strong><%= r['FechaDiff'] > 2 ? escape_javascript(number_to_currency(r['Monto'], unit: '$ ')) : escape_javascript(number_to_currency(r['Monto'], unit: 'Bs '))  %></strong> </br></br>
<% if r['FechaDiff'] > 2 && r['FechaDiff'] <= 5  %>
  Su fecha limite de pago en bolívares a la <a href="https://www.instagram.com/monitordolar_vzla2.0/">Tasa Monitor</a> del día es <strong><%= r['FechaMax'] %></strong>. </br></br>
<% end %>
<% end %>
Gracias por su atención.
`;
<% elsif @records.length == 0 %>
  message.innerHTML = 'No posee deudas';
<% else %>
  <% @records.each do |r| %>
    message.innerHTML = `
    <strong>Distribuidora Central de Alimentos Paraguaná C.A.</strong>, 
    le recuerda que debe realizar el pago de la siguiente factura: </br></br>
<strong><%= escape_javascript(r['Numero'])%></strong> - Despachada día: <strong><%= escape_javascript(r['Fecha']) %></strong> - <strong><%= r['FechaDiff'] >= 2 ? escape_javascript(number_to_currency(r['Monto'], unit: '$ ')) : escape_javascript(number_to_currency(r['Monto'], unit: 'Bs '))  %></strong> </br></br>
<% if r['FechaDiff'] > 2 && r['FechaDiff'] <= 5  %>
  Su fecha limite de pago en bolívares a la <a href="https://www.instagram.com/monitordolar_vzla2.0/">Tasa Monitor</a> del día es <strong><%= r['FechaMax'] %></strong>. </br></br>
<% end %>
Gracias por su atención.
`;
<% end %>
<% end %>
contacts = document.getElementById('contacts');
<% @client.each do |r| %>
  contacts.innerHTML = `Telefono 1: <%= escape_javascript(r['TELEFONO1']) %> </br> Telefono 2: <%= escape_javascript(r['TELEFONO2']) %> </br> Telefono 3: <%= escape_javascript(r['TELEFONO3']) %>`;
<% end %>
